// Variables
$font-stack: 'Poppins',
sans-serif;
$font-size-s: 13px;
$font-size-m: 16px;
$master-color: #E5E5E5;
$white: #fff;
$storm-gray: #74788D;
$primary-color: #556EE6;
$trout-color: #495057;
$header-color: rgba(85, 110, 230, 0.25);
$ghost-color: #CED4DA;
$spacing: 24px;

// Mixins
@mixin placeholder {
    color: $trout-color;
    font-size: $font-size-s;
    font-family: $font-stack;
    font-weight: 300;
    line-height: 1;
}

@mixin flex {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
}

// Normalize 
* {
    margin: 0;
    padding: 0;
}

body,
html {
    height: 100%;
    font-family: $font-stack;
    font-size: $font-size-s;
    background: $master-color;
    box-sizing: border-box;
}

// Typo 
p {
    color: $storm-gray;
    font-weight: 300;
    text-align: center;
    margin: 24px 0;
}

a {
    color: $primary-color;
    text-decoration: none;

    &:hover {
        color: $trout-color;
        text-decoration: underline;
    }
}

// Material Icons

.material-icons {
    &.custom-icons {
        font-size: $font-size-s;
        padding-right: 8px;
        vertical-align: middle;
    }
}

// Contents
.content {
    width: 100%;
    margin: 0 auto;

    .container-login {
        width: 100%;
        min-height: 100vh;
        @include flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .wrap-login {
            width: 451px;
            background: $white;
            overflow: hidden;
            border-radius: 4px;

            // Form
            .form-login {
                width: 100%;

                .form-header {
                    position: relative;
                    height: calc(112px - #{$spacing});
                    background: $header-color;
                    padding: 24px 0 0 24px;
                    @include flex;
                    justify-content: space-between;

                    p {
                        color: $primary-color;
                        margin: 0 0 8px;

                        &.form-title {
                            font-size: $font-size-m;
                            font-weight: 500;
                        }
                    }

                    .header-image {
                        &>img {
                            position: absolute;
                            right: 0;
                            bottom: 1px;
                        }
                    }

                    &>.avatar {
                        width: 50px;
                        height: 50px;
                        border-radius: 50%;
                        border: 2px solid $white;
                        position: absolute;
                        top: 75%;
                    }

                    img {
                        &.avatar {
                            width: 68px;
                            height: 68px;
                        }
                    }
                }

            }

            // Inputs
            .form-content {
                &.spacing {
                    margin: 80px 0 0 0;
                    padding: 0 28px;
                }

                label {
                    font-size: $font-size-s;
                    color: $trout-color;
                    line-height: 3;
                }

                input[type=text],
                input[type=password],
                input[type=submit] {
                    width: 100%;
                    padding: 8px 12px;
                    border: 1px solid $ghost-color;
                    border-radius: 4px;
                    box-sizing: border-box;
                    display: block;
                    margin-bottom: 16px;
                }

                input[type=submit] {
                    height: 36px;
                    background: $primary-color;
                    color: $white;
                    border: none;

                    &:hover {
                        background: $trout-color;
                        color: $master-color;
                    }

                    &.margin-top {
                        margin-top: 16px;
                    }
                }

                input[type=checkbox] {
                    margin-right: 5px;
                }

                ::placeholder {
                    @include placeholder;
                }

                :-ms-input-placeholder {
                    @include placeholder;
                }

                ::-ms-input-placeholder {
                    @include placeholder;
                }
            }

        }

        // Footnote
        .footer {
            &.margin-top {
                margin-top: 36px;
            }

            p {
                color: $trout-color;
                margin: 0 0 16px;
            }
        }
    }
}